<% include ../partials/header %>

<div class="">
    <div class="">
        <img class="center-block d-flex" style="height:300px; width:100%" src="http://media-cdn.tripadvisor.com/media/photo-s/01/d7/df/b7/food-on-beach.jpg" alt="">
    </div>
    <div class="">
        <div class="">
            <nav class="navbar navbar-default navbar-stick">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" style="padding: 0;">
                        <ul class="nav navbar-nav">
                            <% category.forEach(function(category){ %>
                                <li class="food-category" id="<%= category.toLowerCase(); %>"><a href="#<%= category.toLowerCase(); %>Section"><%= category %></a></li>
                            <% }); %>
                        </ul>
                </div>
            </nav>
        </div>
        <div class="row container-fluid">
            <% category.forEach(function(category){ %>
                <h1 id="<%= category.toLowerCase(); %>Section"><%= category %></h1>
                <div style="display:flex; flex-wrap: wrap;">
                    <% foods.forEach(function(food){ %>
                        <% if(food.type == category){ %>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="food-item">
                                        <!-- <div  class="text-right;" style="float: right;">
                                        <img src="<%= food.image %>">
                                    </div> -->
                                    <h4><%= food.name %></h4>
                                    <p><%= food.description %></p>
                                    <p>$<%= food.price %>.00</p>
                                    <a href="/checkout/add-to-cart/<%= food._id %>" class="btn btn-xs btn-success">Add to cart</a>
                                    <a href="/order/<%= food._id %>" class="btn btn-xs btn-success">Info</a>
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            <% }); %>
        </div>
    </div>
</div>




<% include ../partials/footer %>

<!-- Wrap entire item in anchor tag -->
<!--
div
Header: foodname
p-tag: description x characters
photo on the right


 -->
