<% include ../partials/header %>



<!-- The foods that was passed in is the generated array from carts object -->
<% if(foods && session.cart.totalQty > 0){ %>
    <div class="base">
        <div class="backgroundContainer col-md-12">

        </div>
        <form class="" action="/checkout" method="POST">
            <div class="addressContainer col-md-4">
                <h3>Delivery Info</h4>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="phone">Phone  Number</label>
                    <input class="form-control" type="tel" name="phone" id="phone" placeholder="">
                </div>
                <div class="form-group">
                    <label for="name">Delivery Time</label>
                    <div class="">
                        <input class="" type="radio" name="deliveryTime" id="deliveryTime" checked> As soon as possible <!--(<%= %>)-->
                        <a href="" style="float: right">Schedule</a>
                    </div>
                </div>
                <h4>Payment Info</h4>
                <div class="form-group">
                    <select class="" name="paymentOption" id="paymentOption">
                        <option value="cash">Cash</option>
                        <option value="credit">Credit Card</option>
                        <option value="debit">Debit Card</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="note" id="note" placeholder="Add delivery instructions">
                </div>
            </div>
            <div class="orderContainer col-md-4">
                <div class="">
                    <img class="center-block d-flex" style="height:300px; width:100%; object-fit: cover;" src="https://static1.squarespace.com/static/53f144b0e4b0bfa013c298ad/545c2a5ee4b0ba3d01d7612a/59ee70490abd0407c4768739/1508798545034/Acitron-Cocina-High+Res.JPG?format=1500w" alt="">
                </div>
                <div class="">
                    <% foods.forEach(function(food){ %>
                    <div class="checkout-row">
                        <div class="checkout-item checkout-item-qty">
                            <a href="/checkout/cart-reduce-one/<%= food.item._id %>"><i class="glyphicon glyphicon-minus"></i></a>
                            <span style="padding: 0 8px;"><strong><%= food.qty %></strong></span>
                            <a href="/checkout/cart-increase-one/<%= food.item._id %>"<i class="glyphicon glyphicon-plus"></i></a>
                        </div>
                        <div class="checkout-item checkout-item-name">
                            <strong><%= food.item.name %></strong>
                        </div>
                        <div class="checkout-item checkout-item-price">
                            <span>$<%= food.price.toFixed(2) %></span>
                        </div>
                        <div class="checkout-item checkout-item-remove">
                            <a href="/checkout/cart-remove/<%= food.item._id %>" style="text-decoration: none;"><span aria-hidden="true">&times;</span></a>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <strong>Total: $<%= totalPrice.toFixed(2) %></strong>
                <hr>
                <button type="submit" class="btn btn-primary">Place Order</button>
            </div>
            <input class="form-control" type="text" name="lat" id="lat" hidden="true">
            <input class="form-control" type="text" name="lng" id="lng" hidden="true">
        </form>
    </div>
<% } else { %>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>There is nothing in your cart</h2>
        </div>
    </div>
<% } %>

<script>
    nav = navigator.geolocation;
    nav.getCurrentPosition(success, failure);

    function success(position){
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        $("#lat").val(lat);
        $("#lng").val(lng);
        // alert(lat);
        // alert(lng);
    }

    function failure(){
        alert("Could not get location.");
    }
</script>
<% include ../partials/footer %>
