<% include ../partials/header %>

<div class="">
    <div class="">
        <img class="center-block d-flex" style="height:300px; width:100%" src="http://media-cdn.tripadvisor.com/media/photo-s/01/d7/df/b7/food-on-beach.jpg" alt="">
    </div>
    <div class="">
        <div class="">
            <nav class="navbar navbar-default navbar-stick">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" style="padding: 0;">
                        <ul class="nav navbar-nav">
                            <% category.forEach(function(category){ %>
                                <li class="food-category" id="<%= category.toLowerCase(); %>"><a href="#<%= category.toLowerCase(); %>Section"><%= category %></a></li>
                            <% }); %>
                        </ul>
                </div>
            </nav>
        </div>
        <div class="row container-fluid">
            <% category.forEach(function(category){ %>
                <h1 id="<%= category.toLowerCase(); %>Section"><%= category %></h1>
                <div style="display:flex; flex-wrap: wrap;">
                    <% foods.forEach(function(food){ %>
                        <% if(food.type == category){ %>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="food-item" data-toggle="modal" data-target="#<%= food._id %>">
                                        <!-- <div  class="text-right;" style="float: right;">
                                        <img src="<%= food.image %>">
                                    </div> -->
                                    <h4><%= food.name %></h4>
                                    <p><%- food.description.length > 163 ? food.description.substring(0, 160) + "..." : food.description %></p>
                                    <p>$<%= food.price %>.00</p>
                                    <a href="/checkout/add-to-cart/<%= food._id %>" class="btn btn-xs btn-success">Add to cart</a>
                                    <a href="/menu/<%= food._id %>" class="btn btn-xs btn-success">Info</a>
                                </div>
                            </div>
                        <% } %>
                        <div class="modal fade" id="<%= food._id %>" tabindex="-1" role="dialog" aria-labelledby="<%= food.name %>" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-body" style="padding: 0;">
                                  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button> -->
                                  <img src="<%= food.image %>" style="width: 100%;" alt="">
                                  <div class="modal-text-content" style="padding: 15px;">
                                      <p><%= food.description %></p>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    <% }); %>
                </div>
            <% }); %>
        </div>
    </div>
</div>




<% include ../partials/footer %>

<!-- Create a modal template
use jquery to add html elements to modal template
Make ID for each food that equals object's id. Then use EJS to access object's attributes  -->



<!-- For menu create/destroy/edit: Use similar display as index page
Have a + icon by each food category
    Each category has an ID that is the category name
    When pressed, creates a form. Food item's type is automatically set to the category -->
