<% include ../partials/header %>

<% if(orders[0] != null){ %>
    <div class="orders">
        <div class="col-md-8 col-md-offset-2">
            <% for(var i = orders.length-1; i >= 0; i--){ %>
                <div class="order-container">
                    <div class="customer-row">
                        <div class="customer-info col-md-3">
                            <p><strong>Order Placed</strong></p>
                        </div>
                        <div class="customer-info col-md-2">
                            <p><strong>Customer Name</strong></p>
                        </div>
                        <div class="customer-info col-md-2">
                            <p><strong>Customer Contact</strong></p>
                        </div>
                        <div class="customer-info col-md-2">
                            <p><strong>Payment Method</strong></p>
                        </div>
                        <div class="customer-info col-md-3">
                            <p><strong>Order Number</strong></p>
                        </div>
                        <div class="customer-info col-md-3">
                            <p><%= moment(orders[i].deliveryTime).format("ddd LLL") %></p>
                        </div>
                        <div class="customer-info col-md-2">
                            <p><%= orders[i].name %></p>
                        </div>
                        <div class="customer-info col-md-2">
                            <p><%= orders[i].phone %></p>
                        </div>
                        <div class="customer-info col-md-2" style="text-transform: capitalize">
                            <p><%= orders[i].payment %></p>
                        </div>
                        <div class="customer-info col-md-3">
                            <p><%= orders[i]._id %></p>
                        </div>
                    </div>
                    <div class="order-item-container">
                        <% for(var id in orders[i].cart.items){ %>
                            <div class="order-item-row">
                                <div class="order-item">
                                    <p><strong><%= orders[i].cart.items[id].qty %> - </strong></p>
                                </div>
                                <div class="order-item">
                                    <p><strong><%= orders[i].cart.items[id].item.name %></strong></p>
                                </div>
                                <div class="order-item order-item-price">
                                    <p>$<%= (orders[i].cart.items[id].price * orders[i].cart.items[id].qty).toFixed(2) %></p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="order-button-container">
                        <a href="https://www.google.com/maps/?q=<%= orders[i].lat %>, <%= orders[i].lng %>" target="_blank" class="btn btn-primary">Deliver Order</a>
                        <form class="delete-form" action="/orders/<%= orders[i]._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-default">Cancel Order</button>
                        </form>
                    </div>
                    <div class="order-total-container">
                        <div class="order-total">
                            <p>Subtotal: <span class="checkout-price">$<%= orders[i].cart.totalPrice.toFixed(2) %></span></p>
                            <p>Tax: <span class="checkout-price">$<%= (orders[i].cart.totalPrice * 0.05).toFixed(2) %></span></p>
                            <p style="margin-top: 10px;"><strong>Total: <span class="checkout-price">$<%= (orders[i].cart.totalPrice * 1.05).toFixed(2) %><span></strong></p>
                        </div>
                    </div>
                    <% if(orders[i].instructions != ""){ %>
                        <div class="order-total-container">
                            <div class="order-delivery-instructions">
                                <p><%= orders[i].instructions %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
<% } else { %>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>There are no pending orders</h2>
        </div>
    </div>
<% } %>

<script src="/javascripts/order-socketio.js" charset="utf-8"></script>
<% include ../partials/footer %>
